<div class="row hero">


<div class="p-5  col-md-6 mt-5">
<div class="" >
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white mt-5">
      <h1 class="mb-3">Where the world builds Software</h1>
      <h4 class="mb-5">Millions of developers and companies build, ship, and maintain their software on GitHub. Use this site to Search for users or Repositories.</h4>
      <div class="row d.flex justify-content-center">
        <div class="col-md-6">
      <a class="btn btn-success btn-lg btns" routerLink="/users" routerLinkActive='active' role="button"
      >Users</a
      >
        </div>
        <div class="col-md-6">
      <a class="btn btn-success btn-lg btns" routerLink="/repository" routerLinkActive='active' role="button"
      >Repositories</a
      >
        </div>
      </div>
    </div>
  </div>
  <div class="row container mt-5 stats">
    <div class="col-md-3 mt-5 stats">
      <h5>72+ Million</h5>
      <p>Developers</p>
    </div>
    <div class="col-md-3 mt-5">
      <h5>4+ Million</h5>
      <p>Organisations</p>
    </div>
    <div class="col-md-3 mt-5">
      <h5>200 Million</h5>
      <p>Repositories</p>
    </div>
    <div class="col-md-3 mt-5">
      <h5>4+ Million</h5>
      <p>Organisations</p>
    </div>
  </div>
</div>
</div>
<div class="col-md-5">
  <img class="img-fluid gitglobe" src="../../../assets/globe.jpg" alt="">

</div>
</div>

<div class="sect container-fluid">
<img src="../../../assets/ezgif.com-gif-maker-removebg-preview.png" alt="" class="img-fluid astro">

<app-homeuser></app-homeuser>

</div>
