@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
.gitglobe{
  position: relative;
  border-radius: 500px;
  z-index: 1;

}
.astro{

  background: none;
  position: absolute;
  top: 400px;
  right: 10px;
  z-index: 2;
}
.hero {
  height: 115vh;
  width: 100vw;
  /* background: url('../../../assets/hero-glow.svg');
  background-color: rgb(0, 0, 0); */
  background-repeat: no-repeat;
  background-size: 100%;
}
h1{
  font-weight: bolder;
  font-size: 65px;
}
.btns {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.sect {
  height: 100vh;
  background-color: antiquewhite;
}
.stats {
  font-family: 'PT Mono', monospace;
}
