<div class="container-fluid">
  <app-search-box  (getName)='findUser($event)'></app-search-box>
</div>

<div class="container mt-5">
  <div class="row ">
  <div class="col-md-6 card card1 align-items-center m-2" >
    <div class="row">
      <img class="img-fluid userlogo" src="{{user.avatar_url}}" >
    </div>
    <div class="row card2 ">
      <h2 class="mt-4 text-center">{{user.name}} </h2>
      <h4 class="text-center">{{user.login}}</h4>
      <h4 class="text-center"></h4>
    </div>
    <div class="row mt-4">
      <a href="{{user.html_url}}"><button class="btn btn-success"> Git Profile</button></a>    </div>
    <div class="row card2 mt-3">
      <div class="col-md-6 text-center"><h6>{{user.followers}} Followers</h6></div>
      <div class="col-md-6 text-center"> <h6>{{user.following}} Following</h6></div>
    </div>
  </div>
  <div class="col-md-6 card card3 m-2">
    <ul *ngFor='let repo of gitRepos.newRepo'  >
      <li>
    <div class="row card card4 mt-4 ">
      <h2 class="text-center"><u>{{repo.name}}</u></h2>
      <p class="text-center">{{repo.description}}</p>
      <p class="text-center"> Language: {{repo.language}}</p>
      <h6 class="text-center"> Last update: {{repo.updated_at|date}}</h6>

      <a href="{{repo.html_url}}"><button class="btn btn-success"> View Repository</button></a>
    </div>
    </li>
    </ul>
  </div>
  </div>
</div>

<div class="container-fluid">
  <footer><app-footer></app-footer></footer>
</div>
