*{
  color: rgb(2, 0, 95);
  background-color: rgba(255,255, 255, 0.5);
}
.userlogo{
  height: 250px;
  width: auto;
  border-radius: 250px;

}
.card1{
  width: 30vw;
  border-radius: 20px;

}
.card2{
  border: none;
  width: 30vw;
}
.card3{
  border-radius: 20px;
  height: fit-content;
  list-style: none;
  overflow: scroll;
  height: 90vh;


}
.card4{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255, 255, 0.5);
  border-left: 1px solid rgba(255,255, 255, 0.5);
  border-radius:15px;
  backdrop-filter:blur(5px) ;
  background:rgba(255,255, 255, 0.1);
  overflow: hidden;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  margin:30px;
}

.card4:hover{
  transform: translateY(0px);
  opacity:1;
}
.hht{
  margin-left: 10px;
}
ul{
  list-style: none;
}
.btn {
  background-color: #00b849;
}
h1, h2, h3{
  font-weight: bold;
}
