*{
  color: black;
  background-color: rgb(255, 255, 255);
}
.userlogo{
  height: 250px;
  width: auto;
  border-radius: 250px;

}
.card1{
  width: 30vw;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.card2{
  border: none;
  width: 30vw;
}
.card3{
  border-radius: 20px;
  height: fit-content;
  list-style: none;
  overflow: scroll;
  height: 90vh;
}
