<div class="container">
  <h1 class=" mt-3">Easy to view User-info</h1>
</div>
<div class="container mt-5">
  <div class="col card card1 align-items-center">
    <div class="row">
      <img class="img-fluid userlogo" src="../../../assets/sirgama.jpeg" alt="">
    </div>
    <div class="row card2 ">
      <h2 class="mt-4 text-center">Gamaliel Sirengo</h2>
      <h4 class="text-center">sirgama</h4>
      <h4 class="text-center">Software Developer</h4>
    </div>
    <div class="row mt-4">
      <button class="btn btn-primary"> View Profile</button>
    </div>
    <div class="row card2 mt-3">
      <div class="col-md-6 text-center"><h6>26 Followers</h6></div>
      <div class="col-md-6 text-center"> <h6>35 Following</h6></div>
    </div>
  </div>
</div>
